body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0120136e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #765555;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form, .search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.form input, .search input {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  transition: 0.2s;
}

button:hover {
  background-color: #45a049;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
}

.student-table th, .student-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.student-table th {
  background-color: #8e7575;
  color: #333;
}

.edit-btn {
  background-color: #2196f3;
}

.edit-btn:hover {
  background-color: #1976d2;
}

.delete-btn {
  background-color: #f44336;
  margin-left: 5px;
  margin-right: 2px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}
